* {
  text-decoration: none;
  list-style: none;
}

.Navigation {
  display: flex;
  padding-top: 20px;
}


.Navigation_Dropdown {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
}

.ant-dropdown-menu {
  width: 280px;
}

.Navigation svg {
  height: 0.8em;
}
.Navigation_container{
  width: 30px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.Navigation_container-style{
  margin: -5px 0 0 5px;
  font-size: 22px;
  font-weight: 600;
  color: #676767; 
}

.Navigation span img{
  width: 22px;
  height: 18px;
}

.Navigation .ant-dropdown-trigger,
.Navigation .nav_memu {
  width: 140px;
}

.Navigation .ant-btn {
  font-weight: bold;
  padding: 4px 25px;
}


@media (max-width: 610px) {
  .ant-space-item {
    font-size: 16px !important;
  }
}
